In [2]:
%matplotlib inline
import matplotlib
import pandas as pd
import os

# to see in class example refer to 21/2/02

# Read the CSV

In [3]:
df = pd.read_csv("gentrified_LA_data01.csv")
# Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
# Drop the null rows
# df = df.dropna()
df.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,...,MF SF Sold Demo 00-14,MF Total Acres Sold Demo 00-14,MF Sold Demo Average Age,Input_#5_Zip,RET Prop Sold Demoed 01-14,RET SF Sold Demoed 01-14,RET Avg Age Sold Demoed 01-14,RET Acres Sold Demoed 01-14,Input_#6_Zip,2014_Median_HomePrice
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,...,65653.0,3.8364,94.181818,90001.0,2.0,3143.0,36.000000,1.0386,90001.0,248958.3333
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,...,NaN,NaN,NaN,90002.0,6.0,39111.0,72.666667,1.4631,90002.0,237333.3333
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,...,31200.0,0.3880,63.000000,90003.0,5.0,45526.0,72.600000,2.3245,90003.0,271954.5833
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,...,440269.0,6.8533,66.307692,90004.0,3.0,20474.0,90.666667,1.0935,90004.0,853666.2500
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,...,223137.0,7.0523,82.968750,90005.0,4.0,114268.0,66.250000,2.6023,90005.0,550625.0000

# Select control model features, place into dataframe

In [4]:
# Set up x values/features df with just control model columns, this is cut #1

# show all columns
pd.set_option('display.max_columns', None)

# reduce set to cols 0-29
selected_features = df.iloc[:, 0:29]
selected_features.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,Index Percentile,Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,0.669,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,0.486,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,0.706,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,0.871,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,0.825,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2

In [5]:
# get the shape of the file
selected_features.shape

(110, 29)

In [6]:
# remove non-feature columns
selected_features = selected_features.drop(['OBJECTID', 'Zip Code', 'Rank', 'Neighborhood', 'Index Score', 'Index Percentile', '% Change in Median Gross Rent'], axis=1)
selected_features.head()

,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,-47.007,-2.759,-0.086,1.561,24.858,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,33279.05739,2.316600,54481,56314,3.4
1,-44.965,1.683,0.346,1.309,25.733,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,31443.73944,-3.910920,44584,50098,12.4
2,-41.524,3.000,-0.182,2.798,35.303,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,30720.61042,-2.293608,58187,66913,15.0
3,-32.379,-6.873,3.060,11.296,29.716,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,37931.27907,1.480891,67850,63547,-6.3
4,-41.123,-8.214,0.934,7.120,24.864,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,30242.19046,3.213423,43014,38638,-10.2

In [7]:
# get the shape of the file
selected_features.shape

(110, 22)

### Assign x and y variables

In [8]:
# one-hot encode just the index quartile column, we want to change the coding to just reveal the top 25% = 1, rest=0
selected_features = pd.get_dummies(selected_features, prefix=['Index Quartile'], columns=['Index Quartile'])
selected_features.head()

,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Index Quartile_1,Index Quartile_2,Index Quartile_3,Index Quartile_4
0,-47.007,-2.759,-0.086,1.561,24.858,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,33279.05739,2.316600,54481,56314,3.4,0,0,1,0
1,-44.965,1.683,0.346,1.309,25.733,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,31443.73944,-3.910920,44584,50098,12.4,0,1,0,0
2,-41.524,3.000,-0.182,2.798,35.303,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,30720.61042,-2.293608,58187,66913,15.0,0,0,1,0
3,-32.379,-6.873,3.060,11.296,29.716,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,37931.27907,1.480891,67850,63547,-6.3,0,0,0,1
4,-41.123,-8.214,0.934,7.120,24.864,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,30242.19046,3.213423,43014,38638,-10.2,0,0,0,1

In [9]:
# get the shape of the file
selected_features.shape

(110, 25)

In [10]:
# Run the model using Index_Quartile_1 for the dependent variable (this will be removed later) and remove
# cols Index2, 3 and 4
selected_features = selected_features.iloc[:, 0:22]
selected_features.head()

,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Index Quartile_1
0,-47.007,-2.759,-0.086,1.561,24.858,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,33279.05739,2.316600,54481,56314,3.4,0
1,-44.965,1.683,0.346,1.309,25.733,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,31443.73944,-3.910920,44584,50098,12.4,0
2,-41.524,3.000,-0.182,2.798,35.303,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,30720.61042,-2.293608,58187,66913,15.0,0
3,-32.379,-6.873,3.060,11.296,29.716,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,37931.27907,1.480891,67850,63547,-6.3,0
4,-41.123,-8.214,0.934,7.120,24.864,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,30242.19046,3.213423,43014,38638,-10.2,0

In [11]:
# get the shape of the file
selected_features.shape

(110, 22)

In [12]:
# assign X (data) and y (target)

# note we drop our new outcome variable from the rest of the data to get our X variables
X = selected_features.drop("Index Quartile_1", axis=1)

# define our y by selecting the column within the dataframe
y = selected_features["Index Quartile_1"]

# get # of observations and variables (note, the 2nd parens doesn't have a variable number
# because the values is still a string)
print(X.shape, y.shape)

(110, 21) (110,)

### Split the data into training and testing

In [33]:
from sklearn.model_selection import train_test_split

# i modded this train_size
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.55, stratify=y)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [34]:
# confirm size of training set (default is 75% of the dataframe)
len(X_train)

60

In [35]:
# confirm size of test set (the other 25%)
len(X_test)

50

### Create a logistic regression model

In [36]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Fit (train) or model using the training data

In [38]:
classifier.fit(X_train, y_train)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [39]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Validate the model using the test data

In [40]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9833333333333333
Testing Data Score: 0.86

### Make predictions

In [31]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 1 0 1 1 0 0]
First 10 Actual labels: [0, 0, 0, 0, 1, 1, 1, 1, 0, 0]

In [32]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            1       1
5            0       1
6            1       1
7            1       1
8            0       0
9            0       0
10           0       0
11           0       0
12           1       1
13           0       0
14           0       0
15           1       1
16           0       0
17           1       0
18           1       0
19           1       1
20           0       0
21           0       0
22           0       0
23           0       0
24           1       0
25           0       0
26           0       0
27           0       0
28           0       1
29           0       1
30           0       0
31           0       0
32           0       0
33           0       1
34           0       0
35           0       0
36           0       0
37           0       0
38           0       0
39           0       0
40           0       0
41           0       0
42           0       0
43           1       1

In [41]:
# get coefficients
print(classifier.coef_)

[[ 1.34766345e-01  5.70804851e-02  3.77855417e-02 -1.70670198e-01
  -2.23138431e-01 -2.54295935e-02 -1.69552489e-02 -2.94744735e-04
  -1.52151290e-02 -1.05757563e-02 -2.86833183e-02  7.51651143e-02
  -1.62896407e-02 -6.75107640e-02 -8.66125117e-03  1.77547654e-02
   2.31139250e-04 -1.54475533e-01 -2.10850561e-04  5.28009752e-05
  -4.33135052e-02]]

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
# import joblib
# filename = 'your_name.sav'
# joblib.dump(your_model, filename)