In [104]:
%matplotlib inline
import matplotlib
import pandas as pd
import os
import numpy as np

# to see in class example refer to 21/2/02

# Read the CSV

In [105]:
df = pd.read_csv("gentrified_LA_data01.csv")
# Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
# Drop the null rows
# df = df.dropna()
df.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,Index Percentile,Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Evaluated,Zip,Retail Bldgs 2000,New Retail Bldgs 2000-14,Total Retail Bldgs 2014,Ret Inv 2000 (SF),Ret Inv 2014 (SF),% Change in Retail Bldgs 2000-14,% Change in Retail SF 2000-14,% Chg in Avg Retail Bldg SF 2000-14,Change in Total Acres 2000-14,Input_#3_Zip,New MF Projects 2000-14,MF Projects Sold at Least Once between 2000-14,% of New MF Projects Sold at Least Once 2000-14,New MF SF 2000-14,New MF Acres 2000-14,New MF Units 2000-14,New Studios 2000-14,New 1 BR 2000-14,New 2 BR 2000-14,New 3 BR 2000-14,New 4 BR 2000-14,% Studio,% 1BR,% 2BR,% 3BR,% 4BR,Input_#4_Zip,Bldgs Sold Demo 00-14,MF SF Sold Demo 00-14,MF Total Acres Sold Demo 00-14,MF Sold Demo Average Age,Input_#5_Zip,RET Prop Sold Demoed 01-14,RET SF Sold Demoed 01-14,RET Avg Age Sold Demoed 01-14,RET Acres Sold Demoed 01-14,Input_#6_Zip,2014_Median_HomePrice
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,0.669,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4,Yes,90001.0,259.0,19.0,278.0,1347052.0,1497516.0,0.0734,0.111699,0.0357,0.137598,90001.0,3.0,2.0,0.666667,57780.0,1.2649,46.0,0.0,5.0,14.0,27.0,0.0,0.000000,0.108696,0.304348,0.586957,0.000000,90001.0,11.0,65653.0,3.8364,94.181818,90001.0,2.0,3143.0,36.000000,1.0386,90001.0,248958.3333
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,0.486,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4,Yes,90002.0,67.0,5.0,72.0,338627.0,353235.0,0.0746,0.043100,-0.0293,0.027700,90002.0,4.0,3.0,0.750000,205360.0,2.4951,174.0,0.0,39.0,82.0,52.0,1.0,0.000000,0.224138,0.471264,0.298851,0.005750,NaN,NaN,NaN,NaN,NaN,90002.0,6.0,39111.0,72.666667,1.4631,90002.0,237333.3333
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,0.706,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0,Yes,90003.0,426.0,14.0,440.0,1635439.0,1728064.0,0.0329,0.056600,0.0230,0.054800,90003.0,16.0,1.0,0.062500,367908.0,4.1484,235.0,14.0,11.0,42.0,54.0,93.0,0.065400,0.051400,0.196262,0.252336,0.434579,90003.0,2.0,31200.0,0.3880,63.000000,90003.0,5.0,45526.0,72.600000,2.3245,90003.0,271954.5833
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,0.871,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3,Yes,90004.0,221.0,5.0,226.0,1478335.0,1631773.0,0.0226,0.103791,0.0794,0.027600,90004.0,22.0,5.0,0.227273,563662.0,5.2223,461.0,0.0,112.0,125.0,16.0,0.0,0.000000,0.442688,0.494071,0.063200,0.000000,90004.0,13.0,440269.0,6.8533,66.307692,90004.0,3.0,20474.0,90.666667,1.0935,90004.0,853666.2500
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,0.825,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2,Yes,90005.0,107.0,5.0,112.0,924611.0,1063075.0,0.0467,0.149754,0.0984,0.056800,90005.0,24.0,4.0,0.166667,2152331.0,10.1619,1545.0,202.0,520.0,278.0,56.0,40.0,0.184307,0.474453,0.253650,0.051100,0.036500,90005.0,32.0,223137.0,7.0523,82.968750,90005.0,4.0,114268.0,66.250000,2.6023,90005.0,550625.0000

# Select control model features, place into dataframe

In [106]:
# Set up x values/features df with just control model columns, this is cut #1

# show all columns
pd.set_option('display.max_columns', None)

# reduce set to cols 0-29
selected_features = df.iloc[:, 0:29]
selected_features.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,Index Percentile,Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,0.669,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,0.486,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,0.706,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,0.871,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,0.825,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2

In [107]:
# get the shape of the file
selected_features.shape

(110, 29)

In [108]:
# remove non-feature columns
selected_features = selected_features.drop(['OBJECTID', 'Zip Code', 'Rank', 'Neighborhood', 'Index Score', 'Index Percentile', '% Change in Median Gross Rent'], axis=1)
selected_features.head()

,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,-47.007,-2.759,-0.086,1.561,24.858,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,33279.05739,2.316600,54481,56314,3.4
1,-44.965,1.683,0.346,1.309,25.733,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,31443.73944,-3.910920,44584,50098,12.4
2,-41.524,3.000,-0.182,2.798,35.303,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,30720.61042,-2.293608,58187,66913,15.0
3,-32.379,-6.873,3.060,11.296,29.716,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,37931.27907,1.480891,67850,63547,-6.3
4,-41.123,-8.214,0.934,7.120,24.864,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,30242.19046,3.213423,43014,38638,-10.2

In [109]:
# get the shape of the file
selected_features.shape

(110, 22)

### Assign x and y variables

In [110]:
# assign X (data) and y (target)

# note we drop our outcome variable from the rest of the data to get our X variables
X = selected_features.drop("Index Quartile", axis=1)

# define our y by selecting the column within the dataframe
y = selected_features["Index Quartile"]

# get # of observations and variables (note, the 2nd parens doesn't have a variable number
# because the values is still a string)
print(X.shape, y.shape)

(110, 21) (110,)

### Split the data into training and testing

In [111]:
from sklearn.model_selection import train_test_split

# i modded this train_size
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.65, stratify=y)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [112]:
# confirm size of training set (default is 75% of the dataframe)
len(X_train)

71

In [113]:
# confirm size of test set (the other 25%)
len(X_test)

39

### Create a logistic regression model

In [114]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [115]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Fit (train) or model using the training data

In [116]:
classifier.fit(X_train, y_train)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [117]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Validate the model using the test data

In [119]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9295774647887324
Testing Data Score: 0.6666666666666666

### Make predictions

In [120]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [3 4 1 4 2 3 2 4 4 3]
First 10 Actual labels: [3, 4, 1, 4, 2, 3, 2, 4, 4, 3]

In [92]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0            2       2
1            4       4
2            1       1
3            4       4
4            2       1
5            2       3
6            3       2
7            3       3
8            3       3
9            2       2
10           2       1
11           3       4
12           1       1
13           1       1
14           4       3
15           2       2
16           3       3
17           2       2
18           4       4
19           2       3
20           3       3
21           4       4
22           4       3
23           2       1
24           1       2
25           4       4
26           2       2
27           1       1
28           3       4
29           2       3
..         ...     ...
31           1       1
32           4       1
33           1       2
34           4       4
35           2       3
36           1       1
37           4       4
38           4       4
39           1       1
40           4       4
41           2       2
42           3       4
43           2       3
44           2       2
45           3       2
46           2       3
47           1       1
48           4       4
49           3       3
50           2       4
51           3       1
52           3       3
53           3       2
54           2       4
55           4       4
56           2       2
57           3       3
58           2       2
59           1       1
60           2       2

[61 rows x 2 columns]

In [93]:
# get coefficients for each quartile (1-4)
print(classifier.coef_)

[[ 1.15621176e-01  3.55879697e-02 -1.35043436e-02 -1.70309761e-02
  -1.67984058e-02 -5.64317592e-03 -3.59399892e-03 -1.47660785e-03
  -6.43657511e-03 -5.70872562e-03  7.77995178e-02  6.43241355e-02
   3.87546249e-02  2.17296828e-02 -9.78165816e-03 -1.03097603e-02
   1.61106496e-03  4.28941944e-02 -1.70716106e-03  1.58450874e-03
  -1.44932599e-02]
 [ 7.41912955e-02  2.68079378e-01  3.12920939e-02  1.88870200e-01
   9.60180967e-02 -1.16544538e-02 -1.07473823e-01  1.83010926e-03
   1.19417814e-02  2.01980618e-02 -1.74263802e-02  1.30878540e-02
  -2.30446838e-01 -4.19759535e-02  7.86795742e-03  5.99032560e-04
  -1.87002196e-03 -1.13835747e+00  2.79928023e-04 -3.68733814e-04
   1.88873077e-01]
 [-1.51767850e-02  3.61473702e-02 -1.17817641e-01 -5.93713343e-02
  -7.29526952e-03  4.61998531e-02  3.80440766e-02  1.31515295e-04
  -2.42724644e-03 -3.39549283e-03  5.10941077e-02 -6.64968691e-02
   4.79399839e-02 -1.14305213e-02 -3.94145210e-03  3.93430526e-03
  -1.87887627e-04  7.77435935e-03  9.58084714e-05 -9.64154152e-05
   3.26265848e-02]
 [-2.20476973e-02 -2.74555277e-02  4.64336799e-02  2.14544740e-02
   3.74910497e-02 -2.23434351e-02 -1.05157618e-02  3.10624093e-03
   1.27933671e-03  7.94239825e-04 -3.66317456e-02  9.79318300e-03
  -1.22914090e-02  9.14397553e-03 -9.45601561e-02  1.48825974e-01
  -5.14673298e-03  1.24801137e-02  9.55194781e-03 -9.56678128e-03
   3.76911289e-04]]

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
# import joblib
# filename = 'your_name.sav'
# joblib.dump(your_model, filename)